h1 {
    text-align: center;
    color: greenyellow;
    font-size: 20rem;
}
img {
    width: 20%;
  display: inline-block;
}
aside{
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

@media all and (max-width: 800px) {
    aside{
      display: block;
      width: 90%;
      text-align: center;
      margin: auto;
    }
    img{
        display: block;
        width: 80%;
        margin: auto;
    }

}